body {
	font-family: "Roboto", "Arial", sans-serif;
	font-size: 16px;
	font-weight: 400;
	color: rgb(50, 50, 50);
	line-height: 1.375;
	background-color: #849d8f;
	margin: 0;
  	padding: 0;
}

body > input[type="radio"] {
 	display: none;
}

.site-wrapper {
	min-width: 900px;
  	background-color: #849d8f;
  	background-image: url("../img/background_1.png");
  	background-repeat: no-repeat;
  	background-position: top center;
  	transition: background-image 0.5s ease, background-color 0.5s ease;
}

.site-wrapper::before,
.site-wrapper::after {
 	content: "";
 	visibility: hidden;
}

.site-wrapper::before {
 	background-image: url("../img/background_2.png");
}

.site-wrapper::after {
 	background-image: url("../img/background_3.png");
}

.clearfix::after {
 	content: "";
 	display: table;
 	clear: both;
}

.container {
	margin: 0;
	padding: 0;
	width: 1146px;
	padding: 0 27px;
	margin: 0 auto;
}

.index-logo {
	margin: 0;
	padding: 0;
	width: 154px;
	min-height: 64px;
	padding-top: 9px;
	float: left;
}

.main-navigation{
	margin: 0;
	padding: 0;
	width: 685px;
	margin-left: 10px;
	padding-top: 22px;
	float: left;
}

.menu-header {
	margin: 0;
	padding: 0;
	font-size: 0px;
	line-height: 0px;
	list-style: none;
}

.menu-header > li {
	margin: 0;
	padding: 0;
	display: inline-block;
	font-family: "Roboto", "Arial", sans-serif;
	font-size: 16px;
	line-height: 1.125;
	font-weight: bold;
	color: rgb(255, 255, 255);
	margin-right: 2px;
	padding-top: 7.2px;
	padding-right: 13px;
	padding-bottom: 6.8px;
	padding-left: 13px;
	border-radius: 40px;
	cursor: pointer;
}

.menu-header-link {
	font-family: "Roboto", "Arial", sans-serif;
	font-size: 16px;
	line-height: 1.125;
	color: rgb(255, 255, 255);
	text-decoration: none;
	border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.menu-header > li:hover a {
	font-family: "Roboto", "Arial", sans-serif;
	color: rgb(50, 50, 50);
	text-decoration: none;
}

.menu-header > li:hover {
	background: rgb(247, 246, 243);
}

.menu-header > li:active {
	background-color: rgba(248, 247, 244, 0.988);
 	box-shadow: inset 0px 2px 1px 0px #696969;
}

.menu-header-item {
	position: relative;
}

.menu-catalog-hide {
	box-sizing: border-box;
	display: none;
	position: absolute;
	top: 0px;
	left: -7px;
	width: 143px;
	padding-top: 37px;
	z-index: 1;
}

.menu-catalog {
	box-sizing: border-box;
	position: relative;
	min-width: 143px;
	margin: 0;
	padding: 0;
	font-size: 0;
	line-height: 0;
	list-style: none;
	background-color: rgb(248, 247, 244);
	border-radius: 5px;
	box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
	overflow: hidden;
}

.menu-catalog li {
	margin: 0;
	padding: 0;
	font-family: "Roboto", "Arial", sans-serif;
	font-size: 14px;
	line-height: 1.143;
	font-weight: 400;
	color: rgb(50, 50, 50);
	text-align: left;
}

.menu-catalog-title:after {
    content: "";
    position: absolute;
    left: 6px;
    right: 9px;
    height: 1px;
    width: 128px;
    background-color: #d1d0ce;
}

.menu-catalog-title a {
	display: block;
	text-decoration: none;
	font-family: "Roboto", "Arial", sans-serif;
	padding-top: 11px;
	padding-right: 12px;
	padding-bottom: 11px;
	padding-left: 14px;
	font-size: 14px;
	line-height: 1.143;
	color: rgb(50, 50, 50);
	font-weight: bold;
}

.menu-catalog-item a {
	display: block;
	text-decoration: none;
	padding-top: 10px;
	padding-right: 12px;
	padding-bottom: 5px;
	padding-left: 14px;
	font-family: "Roboto", "Arial", sans-serif;
	font-size: 14px;
	line-height: 1.143;
	font-weight: 400;
	color: rgb(50, 50, 50);
}

.menu-catalog-item a:last-child {
	padding-bottom: 13px;
}

.menu-header-item:hover .menu-catalog-hide {
	display: block;
}

.menu-catalog-item a:hover,
.menu-catalog-title a:hover {
	background-color: rgb(251, 222, 215);
}

.menu-catalog-item a:active,
.menu-catalog-title a:active {
	background-color: rgb(246, 181, 165);
}

.menu-active-page {
	background: rgb(208, 112, 88);
}

.menu-active-page a {
	border-bottom: none;
}

.menu-catalog-item .menu-catalog-item-active {
	background-color: rgb(208, 112, 88);
	color: rgb(255, 255, 255);
}

.user-block {
	margin: 0;
	padding: 0;
	font-size: 0px;
	line-height: 0px;
	width: 267px;
	float: right;
	padding-top: 23px;
}

.user-block-catalog {
	margin-bottom: -18px;
}

.actions {
	display: flex;
	margin-bottom: 17px;
}

.action-search {
	position: relative;
	margin-left: 5.5px;
}

.user-block-btn {
	display: block;
	position: relative;
	text-decoration: none;
	background: rgba(255, 255, 255, 0.2);
	border-radius: 40px;
	font-family: "Roboto", "Arial", sans-serif;
	font-size: 14px;
	line-height: 1.143;
	font-weight: 500;
	color: rgb(255, 255, 255);
	z-index: 5;
}

.action-search-btn {
	width: 32px;
	min-height: 32px;
	border-radius: 50%;
	text-indent: -3000px;
}

.action-search-btn::before {
	content: "";
	position: absolute;
	top: 7px;
	left: 8px;
	width: 17px;
	height: 17px;
	background: transparent url("../img/sprite.png") no-repeat;
	background-position: -10px -759px;
}

.search-hide {
	box-sizing: border-box;
	display: none;
	position: absolute;
	top: 0px;
	right: 0px;
	width: 341px;
	padding-top: 36px;
	z-index: 3;
}
.search {
	box-sizing: border-box;
	width: 341px;
	padding: 20px 15px;
	border-radius: 6px;
	background-color: rgb(248, 247, 244);
    box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
    text-align: center;
}

.search-field {
	position: relative;
}

.search-field input {
	width: 311px;
	border: 1px solid rgb(211, 211, 210);
 	border-radius: 5px;
 	background-color: rgb(255, 255, 255);
 	padding: 13px;
}

.search-placeholder {
	position: absolute;
	top: 8px;
	left: 14px;
	font-family: "Roboto", "Arial", sans-serif;
	font-size: 14px;
	line-height: 1.714;
	font-weight: 400;
	color: rgb(153, 153, 153);
	text-align: left;
}

.action-search:hover .search-hide {
	display: block;
}

.action-search:hover .action-search-btn::before {
	content: "";
	position: absolute;
	top: 7px;
	left: 8px;
	width: 17px;
	height: 17px;
	background: transparent url("../img/sprite.png") no-repeat;
	background-position: -10px -796px;
}

.action-search:hover .action-search-btn {
	background-color: rgb(248, 247, 244);
	border-radius: 50%; 
}

.action-enter-btn {
	position: relative;
	padding-top: 7px;
	padding-right: 16px;
	padding-bottom: 9px;
	padding-left: 44px;
}

.action-enter-btn::before {
	content: "";
	position: absolute;
	top: 6px;
	left: 16px;
	width: 20px;
	height: 19px;
	background: transparent url("../img/sprite.png") no-repeat;
	background-position: -10px -309px;
}

.action-enter {
	position: relative;
	margin-left: 10px;
}

.enter-hide {
	box-sizing: border-box;
	display: none;
	position: absolute;
	top: 0px;
	right: 0px;
	width: 277px;
	padding-top: 36px;
	z-index: 2;
}

.enter {
	box-sizing: border-box;
	width: 277px;
    padding-top: 20px;
 	padding-right: 17px;
 	padding-bottom: 22px;
 	padding-left: 19px;
 	border-radius: 6px;
	background-color: rgb(248, 247, 244);
	box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
}

.action-enter:hover .enter-hide {
	display: block;
}

.action-enter:hover .action-enter-btn::before {
	content: "";
	position: absolute;
	top: 6px;
	left: 16px;
	width: 20px;
	height: 19px;
	background: transparent url("../img/sprite.png") no-repeat;
	background-position: -10px -348px;
}

.action-enter:hover .action-enter-btn {
	color: rgb(50, 50, 50);
	background-color: rgb(248, 247, 244);
	border-radius: 40px; 
}

.login-field, 
.password-field {
	position: relative;
	margin-bottom: 20px;
}

.login-field input,
.password-field input {
	box-sizing: border-box;
	width: 241px;
	border: 1px solid rgb(211, 211, 210);
 	border-radius: 5px;
 	background-color: rgb(255, 255, 255);
 	padding: 13px 14px;
}

.login-placeholder,
.password-placeholder {
	position: absolute;
	top: 8px;
	left:14px;
	font-family: "Roboto", "Arial", sans-serif;
	font-size: 14px;
	line-height: 1.714;
	font-weight: 400;
 	color: rgb(153, 153, 153);
 	text-align: left;
 	z-index: 2;
}

.enter-help {
 	display: flex;
}

.new-password,
.new-user {
	font-family: "Roboto", "Arial", sans-serif;
	font-size: 13px;
	line-height: 1.846;
	font-weight: 400;
 	color: rgb(50, 50, 50);
 	text-align: left;
 	text-decoration: none;
 	border-bottom: 1px solid rgba(50, 50, 50, 0.302);
}

.new-password:hover,
.new-user:hover {
	color: rgb(255, 188, 158);
	border-bottom: 1px solid rgba(255, 188, 158, 0.3);
}

.new-password:active,
.new-user:active {
	color: rgb(255, 188, 158);
	border-bottom: 1px solid rgba(255, 188, 158, 0.3);
}

.action-basket {
	position: relative;
	margin-left: 10px;
}

.action-basket-btn {
	box-sizing: border-box;
	padding-top: 7px;
	padding-right: 16px;
	padding-bottom: 9px;
	padding-left: 43px;
	width: 117px;
}

.action-basket-btn::before {
	content: "";
	position: absolute;
	top: 6px;
	left: 16px;
	width: 21px;
	height: 20px;
	background: transparent url("../img/sprite.png") no-repeat;
	background-position: -10px -10px;
}

.basket-hide {
	box-sizing: border-box;
	position: absolute;
	display: none;
	top: 0px;
	right: 0px;
	width: 540px;
	padding-top: 36px;
	z-index: 1;
}

.basket {
	box-sizing: border-box;
	width: 540px;
    padding-top: 20px;
 	padding-right: 14px;
 	padding-bottom: 21px;
 	padding-left: 15px;
 	border-radius: 5px;
	background-color: rgb(248, 247, 244);
	box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
	text-align: right;
}

.action-basket:hover .basket-hide {
	display: block;
}

.action-basket:hover .action-basket-btn::before {
	content: "";
	position: absolute;
	top: 6px;
	left: 16px;
	width: 21px;
	height: 20px;
	background: transparent url("../img/sprite.png") no-repeat;
	background-position: -10px -50px;
}

.action-basket:hover .action-basket-btn {
	color: rgb(50, 50, 50);
	background-color: rgba(248, 247, 244, 0.988);
	border-radius: 40px; 
}

.basket-product {
	font-family: "Roboto", "Arial", sans-serif;
	color: rgb(50, 50, 50);
	font-size: 13px;
	line-height: 1.231;
	font-weight: 400;
	margin-bottom: 13px;
	border-collapse: collapse;
	text-align: left;
}

.basket-product-img img {
	border-radius: 50%;
}

.basket-product span {
	color: #999999;
}

.total {
	font-family: "Roboto", "Arial", sans-serif;
	border-top: 1px solid #cacac7;
	padding-top: 12px;
	font-size: 15px;
	line-height: 1.2;
	font-weight: bold;
	text-align: right;
}

.basket-product-remove {
	vertical-align: top;
	padding-top: 6px;
	padding-right: 11px;
	padding-left: 2px; 
	width: 10px;
}

.basket-product-img {
	vertical-align: top;
	width: 39px;
	padding-bottom: 18px;
}

.basket-product-name {
	vertical-align: top;
	padding-top: 10px;
	padding-right: 10px;
	padding-bottom: 15px;
	padding-left: 10px;
	width: 48%;
}

.basket-product-price {
	vertical-align: top;
	padding-top: 10px;
	padding-right: 10px;
	padding-bottom: 15px;
	padding-left: 10px;
}

.basket-product-total {
	vertical-align: top;
	padding-top: 10px;
	padding-right: 10px;
	padding-bottom: 15px;
	padding-left: 10px;
}

.basket-product-close {
	position: relative;
	margin: 0;
	padding: 0;
	border: none;
	outline: none;
	font-size: 0;
	width: 10px;
 	height: 10px;
 	cursor: pointer;
 	background-color: rgb(248, 247, 244);
}

.basket-product-close::before,
.basket-product-close::after {
  	content: "";
 	position: absolute;
 	top: 4px;
 	left: -1px;
 	width: 12px;
 	height: 1px;
 	background-color: rgb(50, 50, 50);
 	border-radius: 1px;
}

.basket-product-close::before {
 	transform: rotate(45deg);
}

.basket-product-close::after {
 	transform: rotate(-45deg);
}

.connect {
	font-weight: bold;
	color: rgb(255, 255, 255);
	text-align: right;
}

.time {
	font-family: "Roboto", "Arial", sans-serif;
	margin: 0;
	font-size: 14px;
	line-height: 1.143;
	margin-bottom: 4px;
}

.phone {
	font-family: "Roboto", "Arial", sans-serif;
	margin: 0;
	font-size: 22px;
	line-height: 1.091;
}

.carousel {
	position: relative;
	margin-bottom: 43px;
 	padding-top: 274px;
 	text-align: center;
 	color: rgb(255, 255, 255);
}

.slide {
 	display: none;
}

.slide-title {
	width: 700px;
	font-family: "Roboto", "Arial", sans-serif;
	font-size: 60px;
	line-height: 1.006;
	font-weight: bold;
	margin: 0 auto;
	margin-bottom: 31px;	
}

.carousel-controls {
	position: absolute;
  	bottom: 19px;
  	left: 0;
  	z-index: 20;
  	font-size: 0;
}

.carousel-controls label {
 	display: inline-block;
 	width: 17px;
 	height: 17px;
 	margin-right: 8px;
 	vertical-align: top;
 	background-color: transparent;
 	border: 2px solid rgb(255, 255, 255);
 	border-radius: 50%;
 	cursor: pointer;
}

.carousel-controls label:hover {
	background-color: rgba(248, 247, 244, 0.4);
}

.carousel-controls label:active {
	background-color: rgb(255, 255, 255);
}

#slide-1:checked ~ .site-wrapper #carousel-slide-1,
#slide-2:checked ~ .site-wrapper #carousel-slide-2,
#slide-3:checked ~ .site-wrapper #carousel-slide-3 {
 	display: block;
}

#slide-1:checked ~ .site-wrapper {
 	background-color: #849d8f;
 	background-image: url("../img/background_1.png");
}

#slide-2:checked ~ .site-wrapper {
 	background-color: #8996a6;
 	background-image: url("../img/background_2.png");
}

#slide-3:checked ~ .site-wrapper {
 	background-color: #9d8b84;
 	background-image: url("../img/background_3.png");
}

#slide-1:checked ~ .site-wrapper label[for="slide-1"],
#slide-2:checked ~ .site-wrapper label[for="slide-2"],
#slide-3:checked ~ .site-wrapper label[for="slide-3"] {
 	background-color: #ffffff;
}

.special-offers {
	padding: 0;
	margin: 0;
	margin-bottom: 40px;
}

.offer {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	margin-right: 26px;
	padding-top: 14px;
	padding-right: 21px;
	padding-bottom: 23px;
	padding-left: 18px;
	width: 560px;
	float: left;
	font-family: "Roboto", "Arial", sans-serif;
	font-weight: bold;
	color: rgb(255, 255, 255);
	background-position: center;
	background-repeat: no-repeat;
	overflow: hidden;
	border-radius: 15px;
	text-align: left;
}

.offer:last-child {
	margin-right: 0px;
}

.offer-title {
	margin: 0;
	margin-bottom: 16px;
	font-family: "Roboto", "Arial", sans-serif;
	font-size: 35px;
	line-height: 41px;
}

.offer p {
	margin: 0;
	margin-bottom: 44.7px;
	font-family: "Roboto", "Arial", sans-serif;
	font-size: 18px;
	line-height: 22px;
}

.offer-1 {
	background-color: #530111;
	background-image: url(../img/rasp_background.jpg);
	background-position-x: -50px;
    background-position-y: -94px;
}

.offer-2 {
	background-color: #5f381e;
	background-image: url(../img/choco_background.jpg);
	background-position-x: -218px;
    background-position-y: -104px;
}

.heading-title {
	margin: 0;
	padding: 0;
	margin-bottom: 28px;
}

.breadcrumbs {
	margin: 0;
	padding: 0;
	margin-bottom: 2.5px;
	font-family: "Roboto", "Arial", sans-serif;
	font-size: 0px;
	line-height: 0px;
	list-style: none;
}

.breadcrumbs-element {
	margin: 0;
	padding: 0;
	display: inline-block;
	position: relative;
	margin-right: 21px;
	font-family: "Roboto", "Arial", sans-serif;
	font-size: 14px;
	line-height: 1.143;
	font-weight: 400;
	color: rgb(255, 255, 255);
	text-align: left;
}

.breadcrumbs-element a:after {
	content: "\00BB";
	position: absolute;
	left: 60px;
}

.breadcrumbs-element a {
	color: rgb(255, 255, 255);
	text-decoration: none;
	border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.breadcrumbs-element:hover a {
	color: rgb(255, 188, 158);
	border-bottom: 1px solid rgba(255, 188, 158, 0.3);
}

.breadcrumbs-element:hover a:after {
	color: rgb(255, 255, 255);
}

.breadcrumbs-element:active a {
	color: rgb(255, 188, 158);
	border-bottom: 1px solid rgba(255, 188, 158, 0.3);
}

.catalog-title {
	margin: 0;
	font-family: "Roboto", "Arial", sans-serif;
	font-size: 35px;
	line-height: 1.171;
	font-weight: bold;
	color: rgb(255, 255, 255);
	text-align: left;
}

.topbar {
	margin-bottom: 25px;
}

.filters-item {
	display: inline-block;
	margin: 0;
	padding: 0;
	border: none;
	margin-right: 12px;
	margin-bottom: 15px;
	padding: 0;
	vertical-align: top;
}

.form-sorting {
	width: 193px;
}

.form-sorting-title {
    margin-bottom: 7px;
    margin-left: 16px;
    font-family: "Roboto", "Arial", sans-serif;
 	font-size: 14px;
	line-height: 1.143;
	font-weight: 500;
 	color: rgb(255, 255, 255);
 	text-align: left;
}

.form-sorting-select {
	position: relative;
	box-sizing: border-box;
	margin: 0;
	padding: 0; 
	width: 100%;
	min-height: 36px;
	background-color: rgba(248, 247, 244, 0.2);
	border-radius: 30px;
    font-weight: 500;
    cursor: pointer;
}

.select {
	margin: 0px;
	padding: 0px;
	outline: none;
	border: 0;
	width: 100%;
    min-height: 36px;
    padding-top: 0;
    padding-right: 25px;
    padding-bottom: 1px;
    padding-left: 15px;
    background-color: transparent;
    border-radius: 30px;
    cursor: pointer;
    -webkit-appearance: none;
    text-transform: none;
    font-family: "Roboto", "Arial", sans-serif;
    font-size: 16px;
    line-height: 1.125;
    font-weight: 500;
    color: rgb(255, 255, 255);
    text-align: left;
}

.select-icon:after {
	content: "";
    position: absolute;
    top: 17px;
    right: 15px;
    width: 0;
    height: 0;
    pointer-events: none;
    border-top: 5px solid;
    border-right: 4px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 4px solid transparent;
    color: rgb(255, 255, 255);
}

.form-sorting-select:hover .select,
.form-sorting-select:hover .select-icon:after {
	background-color: rgba(255, 255, 255, 1);
	color: rgb(50, 50, 50);
}

.form-price {
	width: 218px;
}

.form-price-title {   
    margin-bottom: 7px;
    margin-left: 14px;
    font-family: "Roboto", "Arial", sans-serif;
 	font-size: 14px;
 	line-height: 1.143;
 	color: rgb(255, 255, 255);
 	font-weight: 500;
 	text-align: left;
}

.price-sorting {
	align-items: center;
    width: 100%;
    height: 36px;
    padding-top:16px;
    padding-right:15px;
    padding-bottom:15px;
    padding-left:15px;
    box-sizing: border-box;
    font-family: "Roboto", "Arial", sans-serif;
    line-height: 1;
    font-weight: 500;
    border-radius: 30px;
    background-color: rgba(255,255,255, 0.2);
}

.price-scale {
	box-sizing: border-box;
    width: 100%;
    height: 4px;
    background-color: rgba(248, 247, 244, 0.502);
    cursor: pointer;
}

.price-range {
	position: relative;
    margin-left: 20%;
    width: 51%;
    height: inherit;
    background-color: rgb(248, 247, 244);
}

.price-toggle {
	position: absolute;
    top: 50%;
    width: 20px;
    height: 20px;
    background-color: rgb(248, 247, 244);
    border-radius: 50%;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.1);
}

.price-toggle-min {
	left: -9px;
	transform: translateX(-50%) translateY(-50%);
}

.price-toggle-max {
	right: 6px;
	transform: translateX(50%) translateY(-50%);
}

.form-fat {
	width: 414px;
}

.form-fat-title {
	margin-bottom: 7px;
	margin-left: 14px;
	font-family: "Roboto", "Arial", sans-serif;
	font-size: 14px;
	line-height: 1.143;
	font-weight: 500;
	color: rgb(255, 255, 255);
	
	text-align: left;
}

.form-fat-radio {
    padding-top: 8px;
    padding-right: 16px;
    padding-bottom:10px;
	padding-left: 15px;
	font-size: 0;
    border-radius: 18px;
    background-color: rgba(255,255,255, 0.2);
}

.form-fat-input,
.form-topping-input {
	display: none;
	padding: 0;
	margin: 0;
}

.form-fat-label,
.form-topping-label {
	position: relative;
	font-family: "Roboto", "Arial", sans-serif;
	font-size: 16px;
	line-height: 1.125;
	font-weight: 500;
 	color: rgb(255, 255, 255);
 	vertical-align: middle;
    cursor: pointer;
}	

.form-fat-label {
	margin-right: 19px;
    padding-left: 30px;
}

.form-topping-label {
	margin-right: 20px;
    padding-left: 33px;
}

.form-fat-label:last-child,
.form-topping-label:last-child {
	margin: 0;
}

.form-fat-label::before {
	content: "";
	position: absolute;
	top: 50%;
	left: 0;
	margin-top: -8px;
	padding: 4px;
	width: 10px;
    height: 10px;
    border: 1px solid rgb(248, 247, 244);
    border-radius: 50px;
    background-clip: content-box;
}

.form-fat-input:checked+.form-fat-label::before {
    background-color: rgb(248, 247, 244);
}

.form-fat-label:hover .form-fat-label::before {
	border: 2px solid rgb(248, 247, 244);
}

.form-topping {
	width: 702px;
}

.form-topping-title {
	margin-bottom: 7px;
    margin-left: 15px;
    font-family: "Roboto", "Arial", sans-serif;
	font-size: 14px;
	line-height: 1.2;
    font-weight: 500;
    color: rgb(255, 255, 255);
    text-align: left;
}

.form-topping-check {
    padding-top: 8px;
    padding-right: 19px;
    padding-bottom: 10px;
    padding-left: 16px;
    font-size: 0px;
    border-radius: 18px;
    background-color: rgba(255,255,255, 0.2);  
}

.form-topping-label::before {
	content: "";
	position: absolute;
	top: 50%;
	left: 0;
	width: 18px;
    height: 18px;
    border: 1px solid #f8f7f4;
    border-radius: 4px;
    margin-top: -8px;
}

.form-topping-label::after {
	content: "";
	position: absolute;
	top: 50%;
	left: 7px;
	width: 4px;
    height: 8px;
    border-bottom: 3px solid #f8f7f4;
    border-right: 3px solid #f8f7f4;
    transform: rotate(45deg);
    margin-top: -5px;
    opacity: 0;
}

.form-topping-input:checked+ .form-topping-label::after {
  opacity: 1;
}

.form-btn {
	display: inline-block;
	vertical-align: bottom;
	margin-bottom: 16px;
	cursor: pointer;
}

.form-btn input {
	width: 143px;
	border: none;
	outline: none;
	text-decoration: none;
	padding: 7px 28px;
	font-family: "Roboto", "Arial", sans-serif;
	font-size: 16px;
	line-height: 1.125;
	font-weight: 500;
	color: rgb(255, 255, 255);
	text-align: left;
	border-radius: 30px;
	border: 2px solid rgb(255, 255, 255);
	background-color: rgba(255, 255, 255, 0.188);
	cursor: pointer;
}

.form-btn:hover input {
	color: rgb(50, 50, 50);
	background-color: rgba(255, 255, 255, 1);
}

.form-btn:active input {
	border-color: rgb(237, 237, 237);
	color: rgb(50, 50, 50);
	background-color: rgb(237, 237, 237);
	box-shadow: inset 0px 2px 1px 0px #696969;
}

.catalog {
	margin: 0;
	padding: 0;
	font-size: 0px;
}

.card-product {
	position: relative;
	display: inline-block;
	width: 267px;
	min-height: 333px;
	margin-right: 26px;
	margin-bottom: 29px; 
	vertical-align: top;
	font-family: "Roboto", "Arial", sans-serif;
	font-size: 16px;
	line-height: 22px;
	font-weight: 500;
	color: rgb(255, 255, 255);
	text-align: center;
}

.card-product:nth-child(4n) {
	margin-right: 0px;
}

.img-product {
	position: relative;
	margin-bottom: 12px;
}

.hit {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 61px;
	min-height: 61px;
	background: transparent url("../img/sprite.png") no-repeat;
	background-position: -5px -467px;
	border-radius: 50%;
	text-align: center;
}

.img-product a {
	display: block;
	margin: 0;
	padding: 0;
	font-size: 0;
	line-height: 0;
	border-radius: 50%;
	overflow: hidden;
}

.price-product {
	margin: 0;
	padding: 0;
	position: absolute;
	top: 207px;
	font-family: "Roboto", "Arial", sans-serif;
	font-size: 45px;
	line-height: 1;
	font-weight: bold;
	color: rgb(255, 255, 255);
	text-align: left;
 	text-shadow: 0px 1px 3px rgba(49, 50, 53, 0.5);
	
}

.rub {
	position: relative;
	width: 26px;
	min-height: 31px;
	font-size: 0;
}

.rub::before {
	content: "";
	position: absolute;
	top: -32px;
	left: -9px;
	width: 31px;
	height: 36px;
	background: transparent url("../img/sprite.png") no-repeat;
	background-position: -5px -708px;
}

.kg {
	font-size: 30px;
	margin-left: 12px;
}

.name-product {
	margin: 0;
	padding: 0;
	text-align: center;
}

.name-product a {
	margin: 0;
	padding: 0;
	text-decoration: none;
	font-family: "Roboto", "Arial", sans-serif;
	color: rgb(255, 255, 255);
	line-height: 1.375;
	font-weight: 500;
	border-bottom: 1px solid rgba(255, 255, 255, 0.2);
	text-align: center;
}

.action-product {
	box-sizing: border-box;
	display: none;
	position: absolute;
	bottom: -65px;
	left: -12px;
	width: 293px;
	min-height: 405px;
	padding-top: 339px;
	padding-bottom: 22px;
	border-radius: 5px;
	background:  rgba(248, 247, 244, 0.302);
	box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
	text-align: center;
	z-index: 2;
}

.card-product:hover .action-product {
	display: block;
}

.card-product:hover .name-product a {
	border-bottom: none;
}

.card-product:hover .img-product {
	border-bottom: none;
	z-index: 3;
}


.main-info {
	margin: 0;
	padding: 0;
	margin-bottom: 40px;
	padding-top: 22.9px;
	padding-left: 19.4px;
	padding-right: 20px;
	padding-bottom: 14px;
	background-color: #ece2cc;
	background-image: url(../img/wafer_background.jpg);
	background-position: center;
	background-repeat: repeat;
	overflow: hidden;
	background-position-x: 10px;
    background-position-y: -2px;
    border-radius: 15px;
    font-family: "Roboto", "Arial", sans-serif;
    font-size: 16px; 
    line-height: 1.375;
    font-weight: 400;
	color: rgb(50, 50, 50);
	text-align: left;
}

.info-title {
	margin: 0;
	padding: 0;
	margin-bottom: 9px;
	font-family: "Roboto", "Arial", sans-serif;
	font-size: 24px;
	line-height: 1.25;
	font-weight: 500;
	text-align: left;
}

.advantages {
	margin: 0;
}

.advantages-product {
	display: inline-block;
	box-sizing: border-box;
	margin: 0;
	position: relative;
	width: 540px;
	padding-top: 13px;
	padding-right: 0px;
	padding-bottom: 10px;
	padding-left: 56px;
	vertical-align: top;
}

.advantages-product::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 49px;
	height: 49px;
	background: transparent url("../img/sprite.png") no-repeat;
	background-position: -5px -538px;
}

.advantage-2::before {
	background-position: -5px -245px;
}

.advantage-3::before {
	background-position: -5px -649px;
}

.advantage-4::before {
	background-position: -5px -828px;
}

.advantage-1,
.advantage-3 {
	float: left;
}

.advantage-2,
.advantage-4 {
	float: right;
}

.spamming {
	padding: 0;
	margin: 0;
	margin-bottom: 40px;
}

.spamming-block {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	margin-right: 26px;
	padding-top: 22px;
	padding-right: 21px;
	padding-bottom: 25px;
	padding-left: 19px;
	width: 560px;
	min-height: 220px;
	background-position: center;
	background-repeat: no-repeat;
	overflow: hidden;
	border-radius: 15px;
	float: left;
}

.spamming-block:last-child {
	margin-right: 0px;
}

.new {
	background-color: #ffffff;
	background-image: url(../img/straw_background.jpg);
	background-position-x: -52px;
    background-position-y: -224px;
    font-family: "Roboto", "Arial", sans-serif;
    font-size: 16px;
    line-height: 1.375;
    font-weight: 500;
    color: rgb(50, 50, 50);
    text-align: left;
}

.new-title {
	margin: 0;
	padding: 0;
	margin-bottom: 4px;
}

.new-article {
	margin: 0;
	padding: 0;
	width: 290px;
}

.new-article a {
	margin: 0;
	padding: 0;
	font-family: "Roboto", "Arial", sans-serif;
	font-size: 24px;
	line-height: 1.25;
	font-weight: bold;
	color: rgb(50, 50, 50);
	text-align: left;
	f
}

.email {
	position: relative;
	padding-top: 33px;
	padding-left: 26px; 
	background: url(../img/mail_background.jpg) no-repeat;
	background-color: #f8f7f4;
	font-family: "Roboto", "Arial", sans-serif;
	font-size: 16px;
	line-height: 1.375;
	font-weight: 400;
	color: rgb(90, 90, 90);	
}

.email-title {
	margin: 0;
	padding: 0;
	margin-bottom: 37px;
}

.email-form {
	display: flex;
}

.email-field {
	position: relative;
	margin-right: 11px;
}

.email-field > input {
	box-sizing: border-box;
	padding: 12px;
	width: 368px;
	min-height: 44px;
	border: none;
	border-radius: 5px;
	background-color: rgba(255, 255, 255, 0.52);
  	opacity: 0.52;
  	border: 1px solid rgb(178, 178, 178);
}

.email-field label{
	position: absolute;
	top: 9px;
	left: 14px;
	font-family: "Roboto", "Arial", sans-serif;
 	font-size: 16px;
 	line-height: 1.5;
 	color: rgb(153, 153, 153);
 	text-align: left;
}

.address-contacts {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	margin-top: 62px;
	margin-bottom: 62px;
	position: relative;
	padding-top: 28px;
	padding-right: 25px;
	padding-bottom: 31px;
	padding-left: 25px;
	font-style: normal;
	width: 302px;
	font-family: "Roboto", "Arial", sans-serif;
	font-size: 14px;
	line-height: 20px;
	font-weight:400;
	color: rgb(50, 50, 50);
	text-align: left;
	background-color: rgba(255, 255, 255, 0.98);
	border-radius: 15px;
	z-index: 1;
	float: right;
}

.address-contacts p {
	margin: 0;
	padding: 0;
	margin-bottom: 19px;
}

.address {
	font-family: "Roboto", "Arial", sans-serif;
	font-size: 18px;
	line-height: 24px;
	font-weight: bold;
}

.address-phone {
	font-family: "Roboto", "Arial", sans-serif;
	font-size: 18px;
	font-weight: bold;
	line-height: 31px;
}

.map {
	position: relative;
}

.map-img {
	position: absolute;
	left: -27px;
	width: 1200px;
	min-height: 428px;
 	background: url(../img/map.jpg) no-repeat;
 	overflow: hidden;
 	background-position-y: -108px;
}

.paginator {
	margin: 0;
	padding: 0;
	padding-top: 44px;
	padding-bottom: 28px;
	text-align: right;
	border-bottom: 1px solid rgba(255, 255, 255, 0.302)
}

.paginator-element {
	display: inline-block;
	margin-right: 0px;
	min-width: 25px;
    min-height: 25px;
    border-radius: 50%;
    font-family: "Roboto", "Arial", sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: rgb(255, 255, 255);
    text-decoration: none;
    text-align: center;
    vertical-align: middle;
}

.prev {
	position: relative;
	text-indent: -3000px;
}

.next {
	position: relative;
	text-indent: -3000px;
}

.prev::before,
.next::after {
	content: "";
 	position: absolute;
 	top: 14px;
 	left: 6px;
 	width: 9px;
 	height: 2px;
 	background-color: rgb(255, 255, 255);
}

.prev::after,
 .next::before {
	content: "";
 	position: absolute;
 	top: 9px;
 	left: 6px;
 	width: 9px;
 	height: 2px;
 	background-color: rgb(255, 255, 255);
}

.prev::before,
.next::before{
 	transform: rotate(45deg);
}

.prev::after,
.next::after {
 	transform: rotate(-45deg);
}

.current {
	background-color: rgb(255, 255, 255);
	color: rgb(50, 50, 50);
}

.disabled {
	opacity: 0.2;
}

.paginator a:hover {
	background: rgba(255, 255, 255, 0.2);
}

.paginator a:active {
	background: rgba(255, 255, 255, 1);
	color: rgb(50, 50, 50)
}

.footer-social {
	width: 267px;
	float: left;
	margin-right: 26px;
}

.social-btn {
	display: inline-block;
	margin-top: 36px;
	margin-right: 7px;
	margin-bottom: 29px;
	width: 32px;
	min-height: 32px;
	background: url("../img/sprite.png") no-repeat;
	opacity: 0.8;
	vertical-align: middle;
	border: 3px solid rgba(255, 255, 255, 0.502);
	border-radius: 50%;
}

.social-tw {
	background-position: -10px -892px;
}

.social-inst {
	background-position: -10px -602px;
}

.social-fb {
	background-position: -10px -387px;
}

.social-vk {
	background-position: -10px -944px;
}

.social-btn:hover {
	opacity: 1.0;
	border: 3px solid rgba(255, 255, 255, 0.7);
}

.social-btn:active {
	opacity: 0.7;
	box-shadow: inset 0px 2px 1px 0px #888;
}

.footer-navigation {
	box-sizing: border-box;
	width: 560px;
	float: left; 
	margin: 0;
	padding: 0;
	padding-top: 31px;
	padding-right: 126px;
	padding-left: 109px;
}

.footer-menu {
	margin: 0;
	padding: 0;
	list-style: none;
}

.footer-menu li {
	display: inline-block;
	padding-left: 20px;
	margin-right: 7px;
}

.footer-menu a {
	padding: 0;
	margin: 0;
	text-decoration: none;
	font-family: "Roboto", "Arial", sans-serif;
	font-size: 13px;
	line-height: 1.385;
	font-weight: 400;
	color: rgb(255, 255, 255);
	border-bottom: 1px solid rgba(255, 255, 255, 0.2);
	text-align: left;
}

.footer-menu li:last-child {
	margin-right: 0;
	float: right;
}

.heart {
	font-weight: bold;
	position: relative;
}

.heart::before {
	content: "";
	position: absolute;
	width: 15px;
	height: 13px;
	left: -22px;
	top: 4px;
	background: transparent url("../img/sprite.png") no-repeat;
	background-position: -10px -439px;
}

.footer-menu li:hover a {
	color: #ffbc9e;
	border-bottom: 1px solid rgba(255, 188, 158, 0.3);
}

.footer-menu li:active a {
	color: #ffbc9e;
	border-bottom: 1px solid rgba(255, 188, 158, 0.3);
}

.footer-copyright {
	margin: 0;
	padding: 0;
	float: right;
	margin-top: 19px;
}

.footer-logo {
	margin: 0;
	padding: 0;
	line-height: 0px;
	font-size: 0px;
}

.footer-copyright p {
	margin: 0;
	padding: 0;
	font-family: "Roboto", "Arial", sans-serif;
	font-size: 12px;
	line-height: 1.5;
	font-weight: 400;
	color: rgb(254, 254, 254);
	text-align: left;
}

.link {
	text-decoration: none;
	color: rgb(254, 254, 254);
	border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.link:hover {
	color: #ffbc9e;
	border-bottom: 1px solid rgba(255, 188, 158, 0.3);
}

.link:active {
	color: #ffbc9e;
	border-bottom: 1px solid rgba(255, 188, 158, 0.3);
}

.modal-content {
	display: none;
	box-sizing: border-box;
	position: absolute;
	top: 338px;
	left: 50%;
	margin-left: -250px;
	width: 477px;
    padding-top: 15px;
 	padding-right: 25px;
 	padding-bottom: 27px;
 	padding-left: 24px;
 	border-radius: 10px;
	background-color: rgb(248, 247, 244);
	font-family: "Roboto", "Arial", sans-serif;
	z-index: 25;
}

.modal-content-close {
	position: absolute;
 	top: 15px;
 	right: 16px;
	width: 16px;
  	height: 16px;
 	font-size: 0;
 	background-color: rgb(248, 247, 244);
 	border: 0;
 	cursor: pointer;
}

.modal-content-close::before,
.modal-content-close::after {
 	content: "";
 	position: absolute;
 	top: 7px;
 	left: -3px;
 	width: 22px;
 	height: 2px;
 	background-color: rgb(0, 0, 0);
}

.modal-content-close::before {
 	transform: rotate(45deg);
}

.modal-content-close::after {
 	transform: rotate(-45deg);
}

.feedback-form fieldset {
	border: none;
	margin: 0;
	padding: 0;
}

.feedback-form legend {
	margin-bottom: 18px;
	font-family: "Roboto", "Arial", sans-serif;
	font-size: 24px;
	line-height: 1.167;
	line-height: 28px;
	font-weight: 500;
	color: rgb(50, 50, 50);
	text-align: left;
}

.feedback-name-label,
.feedback-email-label,
.feedback-question-label {
	position: absolute;
	top: 8px;
	left:12px;
	font-family: "Roboto", "Arial", sans-serif;
	font-size: 16px;
	line-height: 1.5;
	font-weight: 400;
 	color: rgb(153, 153, 153);
 	text-align: left;
 	z-index: 1;
}

.feedback-name,
.feedback-email {
	position: relative;
	margin-bottom: 20px;
}

.feedback-name input,
.feedback-email input {
	box-sizing: border-box;
	padding-top: 13px;
	padding-right: 14px;
	padding-bottom: 13px;
	padding-left: 14px;
	width: 267px;
	border: 1px solid rgb(178, 178, 178);
 	border-radius: 5px;
 	background-color: rgba(255, 255, 255, 0.52);
}

.feedback-question {
	position: relative;
	margin-bottom: 25px;
}

.question {
	box-sizing: border-box;
	padding-top: 13px;
	padding-right: 14px;
	padding-bottom: 13px;
	padding-left: 14px;
	width: 428px;
	min-height: 155px;
	resize: none;
	border: 1px solid rgb(178, 178, 178);
 	border-radius: 5px;
 	background-color: rgb(255, 255, 255, 0.52);
}

.feedback-name input:hover,
.feedback-email input:hover,
 .question:hover,
 .email-field input:hover,
 .search-field input:hover,
 .login-field input:hover,
 .password-field input:hover {
 	box-shadow: 0 0 0 2px rgb(154, 154, 154)
 }

.feedback-name input:focus,
.feedback-email input:focus,
.question:focus,
.email-field input:focus,
.search-field input:focus,
.login-field input:focus,
.password-field input:focus {
	outline: none;
	background-color: rgba(255, 255, 255, 0.52);
	box-shadow: none;
	box-shadow: 0 0 0 2px rgb(46, 136, 228);
}

.login-field input:focus+.login-placeholder,
.password-field input:focus+.password-placeholder,
.search-field input:focus+.search-placeholder,
.email-field input:focus+.email-field-label,
.feedback-name input:focus+.feedback-name-label,
.feedback-email input:focus+.feedback-email-label,
.question:focus+.feedback-question-label {
	font-size: 10px;
	color: rgb(91, 157, 223);
	line-height: 1.182;
	transform: translateY(-24px);
}

.modal-content-close:focus {
	outline: none;
}

.modal-overlay {
	position: fixed;
 	top: 0;
 	left: 0;
 	z-index: 20;
 	width: 100%;
 	height: 100%;
 	background: rgba(0, 0, 0, 0.302);
 	display: none;
}

.btn {
	display: inline-block;
	box-sizing: border-box;
	text-decoration: none;
	border: none;
 	outline: none;
 	background-color: #000000;
 	padding: 10px;
	font-family: "Roboto", "Arial", sans-serif;
	font-size: 18px;
 	line-height: 1.333;
 	font-weight: bold;
 	color: rgb(254, 254, 254);
 	vertical-align: top;
	text-align: center;
	background-color: #f26843;
  	background:    -moz-linear-gradient(top, #f26843 0%, #e74a35 100%);
  	background: -webkit-linear-gradient(top, #f26843 0%, #e74a35 100%);
  	background:         linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
  	border-radius: 100px;
 	box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.64); 
 	cursor: pointer;
}

.btn:hover {
  	background:    -moz-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
  	background: -webkit-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
  	background:         linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
  	box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}

.btn:active {
  	background:    -moz-linear-gradient(top, #d84732 0%, #e1613e 100%);
  	background: -webkit-linear-gradient(top, #d84732 0%, #e1613e 100%);
  	background:         linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
  	box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
}

.slide-btn {
	padding-top: 9px;
	padding-right: 40px;
	padding-bottom: 10px;
	padding-left: 40px;
	font-size: 32px;
 	line-height: 44px;
	text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);
}

.enter-form-btn {
	width: 100px;
	margin-right: 21px;
	padding-top: 13px;
	padding-right: 25px;
	padding-bottom: 10px;
	padding-left: 24px;
}

.basket-btn {
	padding-top: 10px;
	padding-right: 15px;
	padding-bottom: 10px;
	padding-left: 14px;
}

.action-product-btn {
	width: 200px;
	padding-right: 15px;
	padding-left: 16px;
}

.offer-btn {
	float: right;
	padding-top: 10px;
	padding-right: 21px;
	padding-bottom: 13px;
	padding-left: 21px;
	font-style: bold;
}

.offer-btn-1 {
	padding-top: 10px;
	padding-right: 23px;
	padding-bottom: 13px;
	padding-left: 22px;
}

.email-btn {
	width: 128px;
	padding-top: 7px;
	padding-right: 16px;
	padding-bottom: 9px;
	padding-left: 17px;
  	background-image: -moz-linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
  	background-image: -webkit-linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
  	background-image: -ms-linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
}

.address-contacts-btn {
	margin-top: 5px;
	padding-top: 10px;
	padding-right: 27px;
	padding-left: 28px;
}

.feedback-btn {
	float: right;
	padding-right: 23px;
	padding-left: 24px;
}

